
header {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    top: 0px;
    margin-left: 3%;
}

.header_nav ul {
    font-size: x-small;
    color: gray;
    list-style: none;
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 30px;
    text-align: right;
}

a {
    text-decoration: none;
    color: gray;
}

.header_nav li {
    color: gray;
    display: inline-block;
    list-style: none;
    margin-left: 5px;
    padding: 10px;
    justify-content: space-between;
}

.top {
    position: relative;
}

.card_top img{
    width: 60%;
    height: auto;
}

.card_top {
    position: relative;
    top: 10px;
    right: 0;
    text-align: right;
}

.top_content span {
    color: rgb(8, 131, 131);
}

.top_content-everyone{
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 50px;
    font-weight: 600;
    margin-left: 12%;
    font-family: 'Indie Flower',
            cursive;
            color: rgb(190, 10, 112);
}

.content_tag{
    position: absolute;
    top: 300px;
    left: 50px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 12%;
    color:rgb(190, 10, 112);
}

.top_date {
    position: absolute;
    top: 320px;
    left: 50px;
    font-size: 12px;
    margin-left: 12%;
    color: gray;
    line-height: 1;
}

.main {
    padding: 100px;
    margin-left: 12%;
}

.news_ttl {
    font-family: 'Indie Flower',
            cursive;
        color: rgb(190, 10, 112);
}

.news_content-tag {
    color: grey;
    font-size: 20px;
}

.news-list {
    list-style: none outside;
    margin: 0;
    padding: 0;
}

.news-list .item a {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
}

.news-list .item:first-child a {
    border-top: 1px solid #CCC;
}

.news-list .item .date {
    margin: 0;
    min-width: 140px;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
}

.news-list .item .category {
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
}

.news-list .item .category span {
    background:rgb(190, 10, 112);
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1;
    border-radius: 10px 10px 10px 10px;
}

.news-list .item .title {
    margin: 0;
    width: 100%;
}

.news-list .item a:hover .title {
    color: #00F;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.about {
    background-color: rgb(247, 243, 243);
    text-align: center;
    height: 450px;
}


.about_ttl {
    font-family: 'Indie Flower',
            cursive;
            color: rgb(190, 10, 112);
            padding-top: 50px;
            padding-bottom: 10px;
}

.about_tag {
    color: grey;
    font-size: 25px;
    padding-top: 0;
}

.flex {
    position: relative;
    display: flex;
}

.about_card img {
    width: 100%;
    height: auto;
}

.about_card {
    width: 30%;
    height: auto;
    position: absolute;
    left: 60%;
    top: 0%;
    padding-top: 50px;
}

.about_text {
    position: absolute;
    color: grey;
    text-align: left;
    top: 0%;
    left: 10%;
    padding-top: 50px;
    line-height: 1.8;
}

.service {
    padding: 100px;
}

.service_ttl {
    font-family: 'Indie Flower',
        cursive;
    color: rgb(190, 10, 112);
    padding-bottom: 1%;
}

.service_tag {
    font-size: 20px;
    color: grey ;
}

.flex_service{
    display: grid;
    grid-template-rows: 50px 50px 100px 50px 50px 50px;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 3fr;
    padding-top: 20px;
    color: #FFF;
}

.box1 {
    grid-row: 1/7;
    grid-column: 1/4;
    background-color: rgb(190, 10, 112);
    text-align: center;
    padding-top: 10%;
    font-size: small;
}

.item_content-ttl {
    font-size: 15px;
    padding-top: 5%;
}

.box1 img {
    width: 30%;
}

.box1 p {
    text-align: left;
    padding-top: 5%;
    padding-left: 10%;
    line-height: 1.5;
}

.service_wrap {
    text-align: left;
    padding-left: 5%;
    line-height: 1.5;
}

.item_content-ttl-2 {
    font-size: 15px;
    padding-bottom: 10px;
}

.box2 {
    grid-column: 4/7;
    grid-row: 1/4;
    background-color: rgba(176, 46, 119, 0.638);
            ;
    display: flex;
    align-items: center;
    font-size: small;
}

.box2 img {
    width: 30%;
    padding-left: 10px;
}

.box3 {
    grid-column: 4/7;
    grid-row: 4/7;
    background-color: rgba(168, 97, 137, 0.634);
        ;
    display: flex;
    align-items: center;
    font-size: small;
}

.box3 img {
    width: 30%;
    padding-left: 10px;
}

.container {
    background-color: rgb(247, 243, 243);
    height: 550px;
    text-align: center;
}

.blog_sub-ttl {
font-family: 'Indie Flower',
        cursive;
    color: rgb(190, 10, 112);
    padding-right: 78%;
    padding-bottom: 1%;
    padding-top: 5%;
}

.blog_ttl {
    font-size: 20px;
    color: grey;
    padding-right: 75%;
    padding-bottom: 0;
}

.flex_item {
    position: relative;
    top: 8%;
    left: 0%;
    border-radius: 10% 10% 10% 10%;
    background-color: #FFF;
    width: 250px;
    display: inline-block;
    margin-right: 25px;
}

.flex_item img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 10% 10% 0 0;
}

.blog-wrap__item-cat {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20% 0% 0% 0%;
    background-color: rgb(190, 10, 112);
    color: #FFF;
    font-size: 15px;
    padding: 5% 5% 5% 5%;
}

.blog-wrap__item-content-ttl {
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    padding: 5% 5% 5% 5%;
}

.flex__item {
    text-align: justify;
}

.blog-wrap__item-content-tag {
    padding-left: 15%;
    padding-bottom: 5%;
    display: inline-block;
    font-size: 10px;
}

.blog_link {
    top: 20%;
    border: solid 1px #eb0505;
    color: #eb0505;
    background-color: #FFF;
    border-radius: 50px;
    padding: 20px 50px 20px 50px;
    text-align: center;
    position: relative;
}

.company {
    text-align: center;
}

.company_sub-ttl {
    font-family: 'Indie Flower',
        cursive;
    color: rgb(190, 10, 112);
    padding-right: 60%;
    padding-bottom: 2%;
    padding-top: 5%;
}

.company_ttl {
    font-size: 20px;
    color: grey;
    padding-right: 60%;
    padding-bottom: 2%;
}

.company-table {
    margin: auto;
    width: 70vw;
    height: 15vh;
    color: grey;
}

.company-table__th {
    font-weight: bold;
    background-color: #dedede;
    text-align: left;
    padding-left: 20px;
}

.company-table__td {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
}

.flex___item {
    display: flex;
    padding-top: 8%;
}

.recruit img {
    width: 100%;
}

.recruit_item {
    position: relative;
    top: 0%;
    left: 0;
    width: 100%;
    height: auto;
}

.recruit_tag {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF;
    font-size: 30px;
    transform: translate(-50%,-50%);
}

.contact {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 10%;
}

.contact_ttl {
    color: grey;
    padding-bottom: 5px;
}

.contact_ttl::after {
    content: "";
    width: 3px;
    height: 15%;
    background-color: #e60cc9;
    position: absolute;
    top: 50%;
    left: 50%;
}

.contact_btn {
    position: relative;
    width: 200px;
    padding: 10px 0px;
    border-radius: 30px;
    color: #FFF;
    background:
        linear-gradient(90deg, #e60cc9, #bd0372);
    box-shadow: 8px 8px 8px rgba(11, 10, 10, 0.2);
    margin: 100px auto 0;
    text-align: center;
    display: block;
}

.contact_btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    background: url(img/img/mailicon.svg) no-repeat;
    display: block;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
}